<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cat Facts Generaton History</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="container">
        <h1>Cat Facts Generaton History</h1>
        <div class="display">
            <p>
                <%- history %>
            </p>
        </div>
        <br>
        <hr>
        <a href="/">HOME</a>
    </div>
	
</body>

</html>
