<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Cat Breeds</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="container">
        <h1>Random Cat Breeds</h1>
        <form action="/processCatBreeds" method="post">
                <label><strong>How many cat breeds would you like to look up? </strong><input type="number" min="1" max="98" name="numOfBreeds" required/></label>
                <br><br>
            <input type="reset" />
            <input type="submit" value="Look Up"/>
        </form>
        <br>
        <hr>
        <a href="/">HOME</a>
    </div>
	
</body>

</html>
