<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cat Facts</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="container">    
        <h1>Welcome to the Cat Facts site</h1>
        <hr>
        <h2>Check Out Random Cat Facts</h2>
        <a href="/getCatFacts">Get Cat Facts</a>
        <br><br>
        <hr>
        <h2>Learn About Cat Breeds</h2>
        <a href="/getCatBreeds">Get Cat Breeds</a>
    </div>
</body>

</html>
